{% extends 'base.html'%}

{% block content %}
    <h1 class="text-center mb-4">Questions you can give your polls for the following:</h1>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="lead">{{ question.question_text }}</p>
                    <a href="{% url 'votes:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                    <a href="{% url 'votes:results' question.id %}" class="btn btn-secondary btn-sm">View results</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p class="lead"> No Polls available </p>
    {% endif %}
{% endblock %}